@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-one: #103178;
  --color-two: #fec700;
  --color-text: #5b6c8e;

  --font: "Inria Serif", serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none !important;
}
body {
  color: var(--color-text);
  font-family: var(--font);
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.button {
  text-decoration: none !important;
  background-color: var(--color-text);
  color: #fff;
  padding: 15px 32px;
  font-size: 18px;
  border-radius: 45px;
  font-weight: 700;
  border: 2px solid var(--color-text);
  cursor: pointer;
}
.button:hover {
  color: var(--color-text);
  background-color: #fff;
}

.button-two {
  background-color: var(--color-two);
  border: 2px solid var(--color-two);
}

.button-two:hover {
  color: var(--color-two);
}

.button-one {
  background-color: var(--color-one);
  border: 2px solid var(--color-one);
}
.button-one:hover {
  color: var(--color-one);
  background-color: #fff;
}

.button-two:hover {
  color: var(--color-one);
  background-color: #fff;
}
